@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-gray-900 dark:text-gray-100;
}

html,
body,
#__next {
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: row;
}
